@import "/node_modules/bootstrap/scss/bootstrap.scss";
@import "./navbar.scss";
@import "./header.scss";
@import "./home.scss";
@import "./articles.scss";
@import "./konsultasi.scss";

// Lobster Font
@font-face {
    font-family: "lobster";
    src: url("/public/assets/fonts/Lobster-Regular.ttf") format("truetype");
}

// general
html,
body {
    background-color: #f6f2ef;
}

section:not(
        section.welcome,
        section.blog-terbaru,
        section.video-terbaru,
        section.sekilas-tentang
    ) {
    padding-top: 74px;
}
.active {
    color: #e49bff !important;
}
