section.welcome {
    // .right-content {
    //     background-image: url("/public/assets/images/andrew-power-y9L5-wmifaYunsplashg-753x1024.jpg");
    // }
}

// tablet
// 768px
@media (min-width: 768px) {
    section.welcome {
        .left-content {
            img {
                height: 337px;
            }

            h1 {
                font-size: 56px !important;
            }

            p {
                font-size: 20px;
            }
        }

        // .right-content {
        //     background-image: url("/public/assets/images/andrew-power-y9L5-wmifaYunsplashg-753x1024.jpg");
        // }
    }
}

@media (min-width: 992px) {
    section.welcome {
        .right-content {
            background-image: url("/public/assets/images/andrew-power-y9L5-wmifaYunsplashg-753x1024.jpg");
            background-size: cover;
            background-repeat: no-repeat;

            position: relative;
        }
    }
}
